.yasmin{
display: flex;
flex-direction: column;
align-items: center;
width: 320px;
margin: 0 auto;
background-color: black;
border-radius:30px;
border: 2px solid black;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input{
    padding: 10px;
    border-radius:5px;
    
}